.page {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 24px;
  background-color: #2A2C2F;
  color: white;
  font-family: inter;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .page {
    padding-top: 16px;
    padding-bottom: 24px;
  }
}
