.photo-grid {
  width: 92.5vw;
  min-height: 671px;
  margin: 0 auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}


@media screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
  .photo-grid {
    width: 90.6vw;
    min-height: 942px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;

  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .photo-grid {
    width: 93.7vw;
    min-height: 1664px;
    margin-top: 85px;
    margin-bottom: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .photo-grid {
    width: 90vw;
    min-height: 2724px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 11px;
    margin-top: 64px;
  }
}
