.intro__subtitle {
  max-width: 690px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .intro__subtitle {
    min-width: 720px;
    max-width: 984px;
  }
}
