.intro__lists {
  max-width: 690px;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 38px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .intro__lists {
    margin-top: 34px;
  }
}
