.intro__list {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  .intro__list {
    line-height: 17px;
  }
}