.lead {
  width: 76.8vw;
  min-height: 1005px;
  margin: 57px auto 93px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
  .lead {
    width: 90.6vw;
    margin: 48px auto 92px;
    min-height: 962px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .lead {
    width: 100vw;
    min-height: 862px;
    margin: 48px 0 89px;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .lead {
    width: 100vw;
    min-height: 406px;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 63px;
  }
}
