.cover__subtitle {
  width: 360px;
  height: 66px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: 1px solid red;
  position: absolute;
  left: 412px;
  bottom: 245px;
  z-index: 1;
}
