.footer__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .footer__copyright {
    min-width: 186px;
  }
}