.place__links {
  border: 1px solid white;
  width: 456px;
  height: 46px;
  font-family: Suisse Intl;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  position: absolute;
  top: 106px;
  right: 0;
}
