.place__links {
  border: 1px solid white;
  width: 456px;
  height: 46px;
  position: absolute;
  top: 106px;
  right: 28px;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
  .place__links {
    right: 0;
  }
}