.intro {
  width: 690px;
  margin-left: calc((100vw - 54%) - 442px);
  margin-bottom: 90px;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
  .intro {
    width: 67.3%;
    margin-left: calc(100vw - 67% - (298px));
    margin-bottom: 98px;
    padding-right: 100px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .intro {
    width: 93.7%;
    margin: auto;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .intro {
    width: 90%;
    margin: auto;
  }
}
