.intro {
  width: 100%;
  max-width: 690px;
  margin-left: calc((100vw - 54%) - 452px);
  margin-bottom: 96px;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  .intro {
    margin-left: calc(100vw - 67% - (290px));
    margin-bottom: 91px;
    padding-right: 100px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .intro {
    min-width: 720px;
    margin: auto;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .intro {
    width: 90%;
    margin: auto;
  }
}
