.intro {
  max-width: 984px;
  margin: auto;
  margin-bottom: 96px;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  .intro {
    width: 90.6%;
    margin: 0 auto 91px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .intro {
    width: 93.7%;
    margin: 0 auto 0;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .intro {
    width: 90%;
    margin: auto;
  }
}
