.lead__subtitle {
  width: 65%;
  margin: 0 auto 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  .lead__subtitle {
    width: 78%;
    margin-bottom: 56px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .lead__subtitle {
    width: 93%;
    margin-bottom: 53px;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .lead__subtitle {
    width: 90%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}
