.cover {
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../images/background.png);
  color: #FFFFFF;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  margin: auto;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  .cover {
    width: 100%;
    min-height: 640px;
    margin-top: 87px;
    margin-bottom: 90px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .cover {
    min-width: 768px;
    min-height: 480px;
    margin-top: 90px;
    margin-bottom: 85px;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .cover {
    min-width: 320px;
    min-height: 200px;
    margin-top: 65px;
    margin-bottom: 61px;
  }
}
