.footer {
  max-width: 92.5vw;
  margin: auto;
  margin-top: 94px;
  min-height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
  .footer {
    width: 90.6vw;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer {
    width: 93.7vw;
    margin-top: 86px;
  }

}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .footer {
    width: 58.1vw;
    min-height: 310px;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 66px;
  }
}
