.place__url-heading {
  margin-top: 0;
  margin-bottom: 12px;
  max-width: 456px;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.2em;
  padding-left: 2px;
  padding-top: 3px;
  color: #AAAAAA;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .place__url-heading {
    min-width: 352px;
    margin-bottom: 6px;
    line-height: 0px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .place__url-heading {
    min-width: 352px;
  }
}
