.shelf {
  max-width: 984px;
  height: 615px;
  margin-bottom: 8px;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
  .shelf {
    max-width: 928px;
    height: 580px;
    margin-bottom: 8px;
  }
}
